on: [push]
jobs:
  BuildPDF:
    runs-on: ubuntu-20.04
    name: A job to build PDF from .tex
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Build PDF file
        run: docker build -t pdfbuilder .
        # uses: ./
      - run: docker run --name pdfbuilder_container --mount src=`pwd`/cv,target=/cv,type=bind pdfbuilder
      - run: |
          git config user.name 'Dmitry Stasenko'
          git config user.email 'hattonuri@users.noreply.github.com'
          git checkout -B "to_show_in_link"
          git add cv/resume.pdf
          git commit -m "Push cv from CI"
          git push -f --set-upstream origin to_show_in_link
